
body, html{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

p{
    font-size: .9rem;
}

img{
    border-radius: 50px;
}

.margin-bottom{
    margin-bottom: 2rem;
}

.contenedor-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(36, 29, 131);
    color: #fff;
    padding: 2rem;

}
.contenedor-header__phone{
    display: flex;
    flex-direction: column-reverse;
    font-weight: bold;
}

.contender-header__download{
    display: flex;
    justify-content: center;
}

.boton_cv{
    padding: .2rem 1rem;
    background-color: rgb(238, 204, 14);
    color: #252323;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    
}

.container{

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 1200px;
    margin: 0 auto;
    height: 730px;

}

.contenedor-perfil_name h1{
    color: blueviolet;
    margin: 0;
}

.contenedor-perfil_name h3{
    color: rgb(170, 170, 170);
    font-size: 1.4rem;
    margin: 0;

}

.contenedor_perfil_info p {
    font-weight: bold;
}

.contenedor_perfil_info strong{
    color: blueviolet;

}

.contenedor_xp{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedor_xp_title{
    margin-bottom: 2rem;
}

.contenedor_xp_title h2{
    color: blueviolet;
    margin: 0;
    
}

.contenedor_xp_title h4 {
    color: rgb(170, 170, 170);
    font-size: 1.4rem;
    margin: 0;

}

.contenedor_xp_project h2{
    color: rgb(3, 29, 145);

}

.contenedor-header__phone{
    display: flex;
    justify-content:space-around;
}

.contenedor-header img{
    max-width: 50px;
    height: 50px;
}







